[user]
    name = Jeff Li
    email = jeff.li@mackenzieinvestments.com
    signingkey = 381DF243

[commit]
    gpgsign = true

[push]
    default = matching

[core]
    editor = vim
    autocrlf = input

[alias]
    st = status
    br = branc
    ci = commit
    co = checkout
    pt = !git tag -l | xargs git tag -d && git fetch -t  # prune local tags that aren't on remote
